.footer {
  &-main {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 0 75px;
    padding-bottom: 52px;
    border-bottom: 1px solid #ccc;
  }
  &-logo {
    margin-bottom: 30px;
  }
  &-title {
    margin-bottom: 32px;
    font-size: 18px;
    color: $gray-dark;
    font-weight: 500;
  }
  &-list {
    a.footer-link {
      display: inline-block;
      padding-bottom: 20px;
      color: $gray-light;
      font-weight: 400;
    }
  }
  &-coppy {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-help {
    display: flex;
    align-items: center;
    gap: 0 15px;
    span {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 767.98px) {
    &-main {
      grid-template-columns: 1fr;
      grid-gap: 25px 0;
      padding-bottom: 35px;
    }
    &-coppy {
      flex-direction: column;
      gap: 20px 0;
    }
  }
}
